PocketInvest/Workflows/PBAPI-FE7A397D-C1FC-EE11-9F89-6045BD16EBCC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ves_sharedcommondataserviceforapps_80328"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_Loans_from_Peerberry_API')",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loanId": {
                        "type": "integer"
                      },
                      "country": {
                        "type": "string"
                      },
                      "interestRate": {
                        "type": "number"
                      },
                      "loanOriginator": {
                        "type": "string"
                      },
                      "originatorId": {
                        "type": "integer"
                      },
                      "issuedDate": {
                        "type": "string"
                      },
                      "finalPaymentDate": {
                        "type": "string"
                      },
                      "termType": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "remainingTerm": {
                        "type": "integer"
                      },
                      "initialTerm": {
                        "type": "integer"
                      },
                      "loanAmount": {
                        "type": "number"
                      },
                      "availableToInvest": {
                        "type": "number"
                      },
                      "minimumInvestmentAmount": {
                        "type": "integer"
                      },
                      "investedAmount": {
                        "type": "number"
                      },
                      "currency": {},
                      "buyback": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "loanId",
                      "country",
                      "interestRate",
                      "loanOriginator",
                      "originatorId",
                      "issuedDate",
                      "finalPaymentDate",
                      "termType",
                      "status",
                      "remainingTerm",
                      "initialTerm",
                      "loanAmount",
                      "availableToInvest",
                      "minimumInvestmentAmount",
                      "investedAmount",
                      "currency",
                      "buyback"
                    ]
                  }
                }
              }
            }
          },
          "runAfter": {
            "Get_Loans_from_Peerberry_API": [
              "Succeeded"
            ]
          }
        },
        "For_each_loan_1": {
          "type": "Foreach",
          "foreach": "@body('Parse_JSON')?['data']",
          "actions": {
            "Get_Originator_ID": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr471_originators",
                  "$filter": "cr471_name eq '@{items('For_each_loan_1')?['originatorId']}'",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Platform_ID": [
                  "Succeeded"
                ]
              }
            },
            "Get_Platform_ID": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr471_platforms",
                  "$filter": "cr471_name eq 'Peerberry'",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@outputs('Get_Originator_ID')?['body/value']",
              "actions": {
                "For_each_1": {
                  "type": "Foreach",
                  "foreach": "@outputs('Get_Platform_ID')?['body/value']",
                  "actions": {
                    "For_each_4": {
                      "type": "Foreach",
                      "foreach": "@outputs('List_rows')?['body/value']",
                      "actions": {
                        "Compose": {
                          "type": "Compose",
                          "inputs": "@items('For_each_4')?['cr471_name']"
                        },
                        "Condition_1": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@empty(items('For_each_4')?['cr471_name'])",
                                  "@bool(true)"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Add_a_new_row": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "entityName": "cr471_loanses",
                                  "item/cr471_amount": "@items('For_each_loan_1')?['loanAmount']",
                                  "item/cr471_dateofissue": "@items('For_each_loan_1')?['issuedDate']",
                                  "item/cr471_interestrate": "@items('For_each_loan_1')?['interestRate']",
                                  "item/cr471_name": "@{items('For_each_loan_1')?['loanId']}",
                                  "item/cr471_Originator@odata.bind": "cr471_originators(@{items('For_each')?['cr471_originatorid']})",
                                  "item/cr471_Platform@odata.bind": "cr471_platforms(@{items('For_each_1')?['cr471_platformid']})"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "connectionName": "shared_commondataserviceforapps"
                                }
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "For_each_2": {
                                "type": "Foreach",
                                "foreach": "@outputs('List_rows')?['body/value']",
                                "actions": {
                                  "Update_a_row": {
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "parameters": {
                                        "entityName": "cr471_loanses",
                                        "recordId": "@items('For_each_2')?['cr471_loansid']",
                                        "item/cr471_amount": "@items('For_each_loan_1')?['loanAmount']",
                                        "item/cr471_dateofissue": "@items('For_each_loan_1')?['issuedDate']",
                                        "item/cr471_interestrate": "@items('For_each_loan_1')?['interestRate']",
                                        "item/cr471_name": "@{items('For_each_loan_1')?['loanId']}",
                                        "item/cr471_Originator@odata.bind": "cr471_originators(@{items('For_each')?['cr471_originatorid']})",
                                        "item/cr471_Platform@odata.bind": "cr471_platforms(@{items('For_each_1')?['cr471_platformid']})"
                                      },
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord",
                                        "connectionName": "shared_commondataserviceforapps"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Compose": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "For_each_3": [
                  "Skipped"
                ]
              }
            },
            "List_rows": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr471_loanses",
                  "$filter": "cr471_name eq '@{items('For_each_loan_1')?['loanId']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_Originator_ID": [
                  "Succeeded"
                ]
              }
            },
            "For_each_3": {
              "type": "Foreach",
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "length_odata_id": {
                  "type": "Compose",
                  "inputs": "@length(body('List_rows')?['value'])"
                },
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@empty(items('For_each_3')?['cr471_name'])",
                          "@bool(true)"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Compose_1": {
                      "type": "Compose",
                      "inputs": "OK"
                    }
                  },
                  "else": {
                    "actions": {
                      "Compose_2": {
                        "type": "Compose",
                        "inputs": "KO"
                      }
                    }
                  },
                  "runAfter": {
                    "length_odata_id": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_3": {
                  "type": "Compose",
                  "inputs": "Test skipped ok",
                  "runAfter": {
                    "Condition": [
                      "SKIPPED",
                      "FAILED"
                    ]
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          }
        },
        "Init_OrigID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OrigID",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Init_PlatformID": [
              "Succeeded"
            ]
          }
        },
        "Get_Loans_from_Peerberry_API": {
          "type": "Http",
          "inputs": {
            "uri": "https://pocketinvestpbrapi.azurewebsites.net/api/pipbapi",
            "method": "GET"
          },
          "runAfter": {
            "Init_OrigID": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Init_PlatformID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PlatformID",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}